// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$text: #212B42;
$background: #d5dfed;
$primary: #B1D2EF;
$secondary: #6A829F;
$accent: #cd2d3a;
$grey: #cfd7e6;

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   font-weight: normal;
// }

body {
  margin:0;
  padding:0;
  min-height: 100vh;
  color: $text;
  background: $background;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
