@import './base.scss';

#app {
  margin: 0 auto;
  font-weight: 300;
}

a,
.green {
  text-decoration: none;
  color: $secondary;
  transition: 0.4s;
}

h1 {
  text-align: center;
  font-size: max(32px, 10vh);
  line-height: calc(max(32px, 10vh) + 15px);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

